## DATA - Telco Churn

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
PROCESSED_PATH = Path('../data/processed')
RAW_PATH = Path('../data/raw')

In [4]:
df = pd.read_csv(RAW_PATH / 'Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
telco_df = df.copy()

In [6]:
telco_df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Empezamos a cambiar datos

#### Gender

In [7]:
telco_df['gender'].unique()

array(['Female', 'Male'], dtype=object)

- Female - 0 
- Male - 1

In [8]:
telco_df['gender'] = telco_df['gender'].apply(lambda x : 0 if x == 'Female' else 1)
telco_df['gender'].unique()

array([0, 1])

#### Partner

In [9]:
telco_df['Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [10]:
telco_df['Partner'] = telco_df['Partner'].apply(lambda x: 0 if x == 'No' else 1)
telco_df['Partner'].unique()

array([1, 0])

#### Dependents

In [11]:
telco_df['Dependents'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
telco_df['Dependents'] = telco_df['Dependents'].apply(lambda x: 0 if x == 'No' else 1)
telco_df['Dependents'].unique()

array([0, 1])

#### Phone service

In [13]:
telco_df['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [14]:
telco_df['PhoneService'] = telco_df['PhoneService'].apply(lambda x: 0 if x == 'No' else 1)
telco_df['PhoneService'].unique()

array([0, 1])

#### Muliple Lines

In [15]:
telco_df['MultipleLines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

- No phone service = No = 0
- Yes = 1

In [16]:
telco_df['MultipleLines'] = telco_df['MultipleLines'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['MultipleLines'].unique()

array([0, 1])

#### Internet service

In [17]:
telco_df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

- No - 0
- Fiber optic - 1
- DSL - 2

In [18]:
telco_df['InternetService'] = telco_df['InternetService'].apply(lambda x: 0 if x == 'No' else 1 if x == 'DSL' else 2)
telco_df['InternetService'].unique()

array([1, 2, 0])

#### Online Security

In [19]:
telco_df['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

- No internet service = No = 0
- Yes = 1

In [20]:
telco_df['OnlineSecurity'] = telco_df['OnlineSecurity'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['OnlineSecurity'].unique()

array([0, 1])

#### Online Backup

In [21]:
telco_df['OnlineBackup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

- No internet service = No = 0
- Yes = 1

In [22]:
telco_df['OnlineBackup'] = telco_df['OnlineBackup'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['OnlineBackup'].unique()

array([1, 0])

#### Device Protection

In [23]:
telco_df['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

- No internet service = No = 0
- Yes = 1

In [24]:
telco_df['DeviceProtection'] = telco_df['DeviceProtection'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['DeviceProtection'].unique()

array([0, 1])

#### Tech Support

In [25]:
telco_df['TechSupport'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

- No internet service = No = 0
- Yes = 1

In [26]:
telco_df['TechSupport'] = telco_df['TechSupport'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['TechSupport'].unique()

array([0, 1])

#### Streaming TV

In [27]:
telco_df['StreamingTV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

- No internet service = No = 0
- Yes = 1

In [28]:
telco_df['StreamingTV'] = telco_df['StreamingTV'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['StreamingTV'].unique()

array([0, 1])

#### Streaming Movies

In [29]:
telco_df['StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [30]:
telco_df['StreamingMovies'] = telco_df['StreamingMovies'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['StreamingMovies'].unique()

array([0, 1])

- No internet service = No = 0
- Yes = 1

#### Contract

In [31]:
telco_df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

- Month-to-month - 0
- One year - 1
- Two year - 2

In [32]:
telco_df['Contract'] = telco_df['Contract'].apply(lambda x: 0 if x == 'Month-to-month' else 1 if x == 'One year' else 2)
telco_df['Contract'].unique()

array([0, 1, 2])

#### Paperless Billing

In [33]:
telco_df['PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [34]:
telco_df['PaperlessBilling'] = telco_df['PaperlessBilling'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['PaperlessBilling'].unique()

array([1, 0])

#### Payment Method

In [35]:
telco_df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

- Electronic check = Mailed check = 0
- Bank transfer (automatic) = Credit card (automatic) = 1

In [36]:
telco_df['PaymentMethod'] = telco_df['PaymentMethod'].apply(lambda x: 1 if x.__contains__('automatic') else 0)
telco_df['PaymentMethod'].unique()

array([0, 1])

#### Churn

In [37]:
telco_df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [38]:
telco_df['Churn'] = telco_df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)
telco_df['Churn'].unique()

array([0, 1])

#### New DF

In [39]:
telco_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,1,0,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,1,0,1,0,0,0,1,0,0,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,1,1,1,0,0,0,0,0,1,0,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,0,1,1,0,1,1,0,0,1,0,1,42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,2,0,0,0,0,0,0,0,1,0,70.70,151.65,1

In [40]:
telco_df.loc[(telco_df['PhoneService'] == 1) & (telco_df['InternetService'] == 1)].count()

customerID          1739
gender              1739
SeniorCitizen       1739
Partner             1739
Dependents          1739
tenure              1739
PhoneService        1739
MultipleLines       1739
InternetService     1739
OnlineSecurity      1739
OnlineBackup        1739
DeviceProtection    1739
TechSupport         1739
StreamingTV         1739
StreamingMovies     1739
Contract            1739
PaperlessBilling    1739
PaymentMethod       1739
MonthlyCharges      1739
TotalCharges        1739
Churn               1739
dtype: int64

In [41]:
telco_df.count()

customerID          7043
gender              7043
SeniorCitizen       7043
Partner             7043
Dependents          7043
tenure              7043
PhoneService        7043
MultipleLines       7043
InternetService     7043
OnlineSecurity      7043
OnlineBackup        7043
DeviceProtection    7043
TechSupport         7043
StreamingTV         7043
StreamingMovies     7043
Contract            7043
PaperlessBilling    7043
PaymentMethod       7043
MonthlyCharges      7043
TotalCharges        7043
Churn               7043
dtype: int64

#### Only PhoneService

In [42]:
phone_df = telco_df[(telco_df['PhoneService'] == 1) & (telco_df['InternetService'] == 0)]
phone_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
11,7469-LKBCI,1,0,0,0,16,1,0,0,0,0,0,0,0,0,2,0,1,18.95,326.8,0
16,8191-XWSZG,0,0,0,0,52,1,0,0,0,0,0,0,0,0,1,0,0,20.65,1022.95,0
21,1680-VDCWW,1,0,1,0,12,1,0,0,0,0,0,0,0,0,1,0,1,19.80,202.25,0
22,1066-JKSGK,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,20.15,20.15,1
33,7310-EGVHZ,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,20.20,20.2,0

In [43]:
phone_df[['InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']].sum()

InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [44]:
phone_df = phone_df.drop(columns=['InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'])

In [45]:
phone_df.to_csv(PROCESSED_PATH / 'phone_service.csv', index = None)

#### Only InternetService

In [46]:
internet_df = telco_df[(telco_df['PhoneService'] == 0) & (telco_df['InternetService'] == 1)]
internet_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,1,0,29.85,29.85,0
3,7795-CFOCW,1,0,0,0,45,0,0,1,1,0,1,1,0,0,1,0,1,42.30,1840.75,0
7,6713-OKOMC,0,0,0,0,10,0,0,1,1,0,0,0,0,0,0,0,0,29.75,301.9,0
20,8779-QRDMV,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,39.65,39.65,1
27,8665-UTDHZ,1,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,30.20,30.2,1

In [47]:
internet_df[['PhoneService', 'MultipleLines']].sum()

PhoneService     0
MultipleLines    0
dtype: int64

In [48]:
internet_df = internet_df.drop(columns=['PhoneService', 'MultipleLines'])

In [49]:
internet_df.to_csv(PROCESSED_PATH / 'internet_service.csv', index = None)

#### Both Phone and Internet Service

In [50]:
phone_internet_df = telco_df[(telco_df['PhoneService'] == 1) & (telco_df['InternetService'] == 1)]
phone_internet_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,5575-GNVDE,1,0,0,0,34,1,0,1,1,0,1,0,0,0,1,0,0,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,1,1,1,0,0,0,0,0,1,0,53.85,108.15,1
9,6388-TABGU,1,0,0,1,62,1,0,1,1,1,0,0,0,0,1,0,1,56.15,3487.95,0
10,9763-GRSKD,1,0,1,1,13,1,0,1,1,0,0,0,0,0,0,1,0,49.95,587.45,0
18,4190-MFLUW,0,0,1,1,10,1,0,1,0,0,1,1,0,0,0,0,1,55.20,528.35,1

In [51]:
phone_internet_df.to_csv(PROCESSED_PATH / 'phone_internet_service.csv', index = None)

In [52]:
telco_df.to_csv(PROCESSED_PATH / 'telco_churn.csv', index = None)