In [1]:
import pandas as pd
from matplotlib import pyplot

In [4]:
internet_df = pd.read_csv('../data/processed/internet_service.csv')
internet_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,1,0,1,0,0,0,0,0,1,0,29.85,29.85,0
1,7795-CFOCW,1,0,0,0,45,1,1,0,1,1,0,0,1,0,1,42.30,1840.75,0
2,6713-OKOMC,0,0,0,0,10,1,1,0,0,0,0,0,0,0,0,29.75,301.9,0
3,8779-QRDMV,1,1,0,0,1,1,0,0,1,0,0,1,0,1,0,39.65,39.65,1
4,8665-UTDHZ,1,0,1,1,1,1,0,1,0,0,0,0,0,0,0,30.20,30.2,1

####

In [ ]:
df